# Data Analytics Challenge

Intro: Regression Problem about Fuel.


Purpose: being able to predict, how much petrol the cars for each trip. The goal is to find out, if using E10 is possible without having higher costs.

Strategy:

 - find out best approach/model before proper data cleaning (too many NaNs, too little     time)
 - data cleaning
 - data visualization
 - finding the best model

## EDA

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('../data-analytics-challenge/data/measurements.csv')
data

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16,"3,7",39,"24,5",18,NaN,SP98,0,0,0,NaN,NaN
384,"16,1","4,3",38,25,31,AC,SP98,1,0,0,NaN,NaN
385,16,"3,8",45,25,19,NaN,SP98,0,0,0,NaN,NaN
386,"15,4","4,6",42,25,31,AC,SP98,1,0,0,NaN,NaN
387,"14,7",5,25,25,30,AC,SP98,1,0,0,NaN,NaN

In [3]:
data.shape

(388, 12)

In [4]:
data.columns=[e.lower().replace(' ', '_') for e in data.columns]

In [5]:
data.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
ac                int64
rain              int64
sun               int64
refill_liters    object
refill_gas       object
dtype: object

In [6]:
#Convert columns "distance", "consume" ,"temp_inside", "refill_liters" into float type
data[["distance", "consume" ,"temp_inside", "refill_liters"]] = data[["distance", "consume" ,"temp_inside", "refill_liters"]].astype(str)

In [7]:
data = data.replace(',','.', regex=True)
data

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun,refill_liters,refill_gas
0,28,5,26,21.5,12,NaN,E10,0,0,0,45,E10
1,12,4.2,30,21.5,13,NaN,E10,0,0,0,nan,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,nan,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,nan,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,nan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16,3.7,39,24.5,18,NaN,SP98,0,0,0,nan,NaN
384,16.1,4.3,38,25,31,AC,SP98,1,0,0,nan,NaN
385,16,3.8,45,25,19,NaN,SP98,0,0,0,nan,NaN
386,15.4,4.6,42,25,31,AC,SP98,1,0,0,nan,NaN
387,14.7,5,25,25,30,AC,SP98,1,0,0,nan,NaN

In [16]:
data.describe()

,distance,consume,speed,temp_inside,temp_outside,ac,rain,sun,refill_liters
count,388.000000,388.000000,388.000000,376.000000,388.000000,388.000000,388.000000,388.000000,13.000000
mean,19.652835,4.912371,41.927835,21.929521,11.358247,0.077320,0.123711,0.082474,37.115385
std,22.667837,1.033172,13.598524,1.010455,6.991542,0.267443,0.329677,0.275441,8.587282
min,1.300000,3.300000,14.000000,19.000000,-5.000000,0.000000,0.000000,0.000000,10.000000
25%,11.800000,4.300000,32.750000,21.500000,7.000000,0.000000,0.000000,0.000000,37.600000
50%,14.600000,4.700000,40.500000,22.000000,10.000000,0.000000,0.000000,0.000000,38.000000
75%,19.000000,5.300000,50.000000,22.500000,16.000000,0.000000,0.000000,0.000000,39.000000
max,216.100000,12.200000,90.000000,25.500000,31.000000,1.000000,1.000000,1.000000,45.000000

## Data Cleaning

In [9]:
#Checking for NaNs
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(80)

               percentage
refill_gas      96.649485
specials        76.030928
distance         0.000000
consume          0.000000
speed            0.000000
temp_inside      0.000000
temp_outside     0.000000
gas_type         0.000000
ac               0.000000
rain             0.000000
sun              0.000000
refill_liters    0.000000

In [18]:
#Due to limit of time and hudge amount of missing values, 
#I fill the columns with NANs with 0
data_clean = data.fillna(0)
data_clean

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,ac,rain,sun,refill_liters,refill_gas
0,28.0,5.0,26,21.5,12,0,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,0,E10,0,0,0,0.0,0
2,11.2,5.5,38,21.5,15,0,E10,0,0,0,0.0,0
3,12.9,3.9,36,21.5,14,0,E10,0,0,0,0.0,0
4,18.5,4.5,46,21.5,15,0,E10,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16.0,3.7,39,24.5,18,0,SP98,0,0,0,0.0,0
384,16.1,4.3,38,25.0,31,AC,SP98,1,0,0,0.0,0
385,16.0,3.8,45,25.0,19,0,SP98,0,0,0,0.0,0
386,15.4,4.6,42,25.0,31,AC,SP98,1,0,0,0.0,0
387,14.7,5.0,25,25.0,30,AC,SP98,1,0,0,0.0,0

In [11]:
data = data.astype({'distance':'float','consume':'float', 'temp_inside':'float', 'refill_liters':'float'})

In [12]:
data.dtypes

distance         float64
consume          float64
speed              int64
temp_inside      float64
temp_outside       int64
specials          object
gas_type          object
ac                 int64
rain               int64
sun                int64
refill_liters    float64
refill_gas        object
dtype: object

## Training the Benchmark Model

In [13]:
X=data_clean.drop('refill_liters', axis=1)
y=data_clean.refill_liters

X = pd.get_dummies(X)
X

,speed,temp_outside,ac,rain,sun,distance_1.3,distance_1.7,distance_10.1,distance_10.2,distance_10.5,...,specials_half rain half sun,specials_rain,specials_snow,specials_sun,specials_sun ac,gas_type_E10,gas_type_SP98,refill_gas_0,refill_gas_E10,refill_gas_SP98
0,26,12,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,30,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
2,38,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
3,36,14,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
4,46,15,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,39,18,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
384,38,31,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
385,45,19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
386,42,31,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
387,25,30,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [19]:
from sklearn.linear_model import LinearRegression, LogisticRegression

model = LinearRegression()
model.fit(X_train,y_train)
model.score(X_test,y_test)

ValueError: array must not contain infs or NaNs

## Improving the Model

## Results

## Whats next?